{%include'OrphanageHeader.html'%}
<center>
<h3>charity events</h3>
	<form method="post">
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>event title</th>
			<td><input type="text" name="et" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>venue</th>
			<td><input type="text" name="vn" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>date and time</th>
			<td><input type="datetime-local" name="dt" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>chief guest</th>
			<td><input type="text" name="cg" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>description</th>
			<td><input type="text" name="ds" required="" class="form-control"></td>
		</tr>
		<tr>
			
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="event" value="add" class="btn btn-success"></td>
		</tr>
	</table>


</center>
<h3>EVENT DETAILS</h3>
<table class="table" style="width: 950px;color: white">
	<tr>
		
		<th>Event Title</th>
		<th>Venue</th>
		<th>Date and Time</th>
		<th>Chief Guest</th>
		<th>Description</th>
		<th>Event Status</th>
		
	</tr>
	{%for row in data['or']%}
	<tr>
		<td>{{row['event_title']}}</td>
		<td>{{row['venue']}}</td>
		<td>{{row['date_and_time']}}</td>
		<td>{{row['chief_guest']}}</td>
		<td>{{row['description']}}</td>
		<td>{{row['event_status']}}</td>
		<td><a href="?action=delete&event_id={{row['event_id']}}" class="btn btn-danger">Delete</a></td>
		
	</tr>
	{%endfor%}
</table>
	</form>

{%include'publicfooter.html'%}