{% include'publicheader.html' %}
	<center>
		<form method="post">

<h1>register</h1>
<table>
	<tr>
		<th>name</th>
		<td><input type="text" name="nam"></td>
	</tr>
	<tr>
		<th>address</th>
		<td><textarea name="abc"></textarea></td>
	</tr>
	<tr>
		<th>phone no</th>
		<td><input type="number" name="ph"></td>
	</tr>
	<tr>
		<th>email id</th>
		<td><input type="email" name="email"></td>
	</tr>
	<tr>
		<th>dob</th>
		<td><input type="datetime-local " name="dt"></td>
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" name="registration" value="submit"></td>
	</tr>
</table>
</form>
</center>
{% include'publicfooter.html' %}