{%include'UserHeader.html'%}
<center>
	<form method="post">
		<h3>TESTIMONIALS</h3>
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Description</th>
				<td><input type="text" name="ds"></td>
			</tr>

			<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="UserAddTestimonials" value="Submit"></td>
			</tr>

		</table>
	</form>
</center>
<h3>view testimonials</h3>
<table class="table" style="width:500px;color:white">
	<tr>
		<th>FEEDBACKS</th>
		<th>DATE AND TIME</th>
	</tr>
	{%for row in data['or']%}
	<tr>
		<td>{{row['description']}}</td>
		<td>{{row['datetime']}}</td>
		
	</tr>
	{%endfor%}
</table>


{%include'publicfooter.html'%}